html {
    height: 100%;
    padding: 0px;
}

body {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 35px;
	height: 100%;
	width: 100%;
    background-repeat: no-repeat;
    background: #444
}

h1 {
	padding-top: 0px;
	padding-left: 0px;
	color: #eee;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
}

p {
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	color: #eee;
	font-size: 14px;
}

p.title {
	font-weight: bold;
	font-size: 22px;
	text-align: center;
}

.header {
	background-color: #222;
	border-style: solid;
	border-width: 1px;
	border-color: #444;
	padding: 10px;
	height: 100%;
	border-radius: 25px;
}

.parent {
	line-height: 100%;
	height: 100%;
    text-align: center;
}

.parent p{
	line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.item {
	background-color: #222;
	height: 100%;
	width: 100%;
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
	border-color: #333;
}

.item:hover {
    opacity: 0.6;
}

.item:active {
	opacity: 0.8;
}

.imgGradient {
	opacity: 1;
	position:fixed;
	z-index: -1;
	bottom:0; 
	left:0;
	width: 100%;
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)))
}

.imgProject {
	margin-top: 10%;
	max-width: 25%;
	max-height: 25%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    border-radius: 100%;
}

#elections{
	margin-top: 5%;
}

.height2 {
	min-height: 200px;
}

.height3 {
	min-height: 300px;
}

.height3 div div img {
	margin-top: 20%;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.topright {
	border-radius: 0 25px 0 0;
}

.topleft {
	border-radius: 25px 0 0 0;
}

.bottomright {
	border-radius: 0 0 25px 0;
}

.bottomleft {
	border-radius: 0 0 0 25px;
}

.noimage {
	padding-top: 15%;
}

.extra {
	padding-top: 25%
}

#master {
	border-color: #063090;
	border-width: 3px;
}

#master p{
	padding: 20px;
}

#bachelors {
	border-color: #9d102c;
	border-width: 3px;
}